@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';

.footer {
  width: 100%;
  height: 209px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: $footerColor;
  margin-top: 40px;

  @include mobileMaxBreakPoint {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  img {
    height: 40px;
    margin-top: 65px;
  }
  p {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 30px 0;
    color: $secondaryColor;
    font-size: 24px;
    font-weight: 500;
    @include mobileMaxBreakPoint {
      font-size: 12px;
    }
  }
}
