// Screen sizes
$screen-mobile: 768px;

// Colors
$textColor: #ff6060;
$textLightColor: #ffffff;

$primaryColor: #ff6060;

$secondaryLightColor: #e5e5e5;
$secondaryColor: #f6f6f6;
$secondaryDark1Color: #e3e3e3;
$secondaryDark2Color: #c4c4c4;

$footerColor: #000000;
$blackColor: #000000;
